@font-face {
    font-family: "Neue Machina Regular";
    src: url("../fonts/NeueMachina-Regular.woff2") format("woff2"),
        url("../fonts/NeueMachina-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Light";
    src: url("../fonts/NeueMachina-Light.woff2") format("woff2"),
        url("../fonts/NeueMachina-Light.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultralight";
    src: url("../fonts/NeueMachina-Ultralight.woff2") format("woff2"),
        url("../fonts/NeueMachina-Ultralight.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Black";
    src: url("../fonts/NeueMachina-Black.woff2") format("woff2"),
        url("../fonts/NeueMachina-Black.woff") format("woff");
}

@font-face {
    font-family: "Neue Machina Ultrabold";
    src: url("../fonts/NeueMachina-Ultrabold.woff2") format("woff2"),
        url("../fonts/NeueMachina-Ultrabold.woff") format("woff");
}


body{
    font-family: 'Neue Machina Regular', monospace;
    font-size: 1.5em;
    line-height: 1.5em;
    height: 100vh;
    color: #ffffff;
    background: #000000;
}
section{
    width: 80%;
    margin: auto;
    border: #ffffff 1px solid;
    text-align: center;
    margin-top: 5%
}
p{
    /* padding-top: 30px; */
    font-family: helvetica, sans-serif;
    font-weight: lighter;
    width: 70%;
    margin: auto;
    text-align: justify;
    line-height: 160%;
    padding: 10px 0 20px;
}

p:last-child {
 
    padding-top: 0px;
    padding-bottom: 50px;
}

h1{
    padding-top: 10%; 
    font-size: 5rem;
    margin: 24px;
 
}

h2{
    font-size: 3rem;
    margin: 30px 0 10px;
}

h3{
    padding-top: 2.5%; 
    font-size: 2rem;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    font-family: Neue Machina Regular;
    font-size:1em;
    width: 70%;
    margin: auto;
    text-align: left;
    padding-bottom: 20px;

}
li{
    list-style:circle;
}

#disclaimer {

    color:#d73f28;
    font-family: Neue Machina Ultralight;
    font-size:1.25em;
    margin: auto; 
    padding: 8px 16px 16px;
}


a{
    color: #d73f28;
}

a:hover{
    color:bisque;
}

@media (max-width: 700px){
    body{
        display: block;
    }

    section{
        position: static;
        width: 100%;
    }

    header{
        position: static;
        width: 100%
    }
}